flows.json
[
    {
        "id": "b0258fce5f9a574e",
        "type": "tab",
        "label": "Command/Control",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5e429d5627a513d5",
        "type": "tab",
        "label": "Client State",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7fa9bb5bea5ae3a5",
        "type": "tab",
        "label": "dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3c9fafa.7dd6a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "demo-na.mqtttest.com",
        "port": "8883",
        "tls": "2d748829.2503d8",
        "clientid": "$(CLIENTID)",
        "autoConnect": true,
        "usetls": true,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "demo/security/clientstate/connected",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "$(CLIENTID)",
        "birthMsg": {},
        "closeTopic": "demo/security/clientstate/closed",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "$(CLIENTID)",
        "closeMsg": {},
        "willTopic": "demo/security/clientstate/lastwill",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "$(CLIENTID)",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2d748829.2503d8",
        "type": "tls-config",
        "name": "demo-na.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-na.mqtttest.com",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "c7809b33.ca4548",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6d919544.7af97c",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "c7809b33.ca4548",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb978cdcbb341010",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fde17ba4e8f07cec",
        "type": "gauth",
        "name": "node-red@fluted-sentry-260301.iam.gserviceaccount.com"
    },
    {
        "id": "791e80b3.11014",
        "type": "ui_group",
        "name": "Latency",
        "tab": "a06ddef.76e0f2",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "a4089a2e.e45d68",
        "type": "tls-config",
        "name": "demo-na.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-na.mqtttest.com",
        "verifyservercert": true
    },
    {
        "id": "a06ddef.76e0f2",
        "type": "ui_tab",
        "name": "Latency",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "bb02845ab3c966f2",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "f464a0a0fde2811c",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "api.ipify.org",
        "verifyservercert": false
    },
    {
        "id": "7dabb4e9294c02b3",
        "type": "gauth"
    },
    {
        "id": "1d23aa2bb0d50839",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "367f2353619290f9",
        "type": "tls-config",
        "name": "demo-na.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-na.mqtttest.com",
        "verifyservercert": false
    },
    {
        "id": "1815ee4756502242",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e4f1c4dc92905add",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "1815ee4756502242",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "681abe3425b77ad3",
        "type": "gauth"
    },
    {
        "id": "c7d59b833ac89f5c",
        "type": "mqtt in",
        "z": "b0258fce5f9a574e",
        "name": "Listen on Control Topic ",
        "topic": "demo/security/control/moderator",
        "qos": "2",
        "datatype": "json",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 240,
        "y": 120,
        "wires": [
            [
                "cfd76944be5ac96f"
            ]
        ]
    },
    {
        "id": "cfd76944be5ac96f",
        "type": "switch",
        "z": "b0258fce5f9a574e",
        "name": "Check if clientid is self or all ",
        "property": "payload.clientid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "all",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CLIENTID",
                "vt": "env"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 580,
        "y": 120,
        "wires": [
            [
                "ce962965f7054374"
            ],
            [
                "ce962965f7054374"
            ],
            []
        ]
    },
    {
        "id": "2accc20478a30d98",
        "type": "comment",
        "z": "b0258fce5f9a574e",
        "name": "Otherwise Ignore",
        "info": "",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "09fe3e140acb388f",
        "type": "comment",
        "z": "b0258fce5f9a574e",
        "name": "Process",
        "info": "",
        "x": 180,
        "y": 180,
        "wires": []
    },
    {
        "id": "ce962965f7054374",
        "type": "switch",
        "z": "b0258fce5f9a574e",
        "name": "Check Command Type",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "exec",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "api",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "refresh",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 400,
        "y": 280,
        "wires": [
            [
                "acdf58094a3666e4"
            ],
            [
                "5a8e75587cbab385"
            ],
            [
                "68c8885ee023c995"
            ]
        ]
    },
    {
        "id": "73192f21a4f3e432",
        "type": "http request",
        "z": "b0258fce5f9a574e",
        "name": "API requests",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 70,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "b8d762f444c4ce47",
        "type": "exec",
        "z": "b0258fce5f9a574e",
        "command": "",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "120",
        "oldrc": false,
        "name": "exec commands",
        "x": 530,
        "y": 560,
        "wires": [
            [
                "6cb82dbaa44bcdf3"
            ],
            [
                "6cb82dbaa44bcdf3"
            ],
            [
                "6cb82dbaa44bcdf3"
            ]
        ]
    },
    {
        "id": "7d57d5438bf2cfef",
        "type": "comment",
        "z": "b0258fce5f9a574e",
        "name": "node-red API requests",
        "info": "",
        "x": 100,
        "y": 420,
        "wires": []
    },
    {
        "id": "4cb5dda3fcf49382",
        "type": "comment",
        "z": "b0258fce5f9a574e",
        "name": "exec commands",
        "info": "",
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "6cb82dbaa44bcdf3",
        "type": "debug",
        "z": "b0258fce5f9a574e",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 560,
        "wires": []
    },
    {
        "id": "acdf58094a3666e4",
        "type": "change",
        "z": "b0258fce5f9a574e",
        "name": "Normallze payload for input into exec node ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.command",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 500,
        "wires": [
            [
                "b8d762f444c4ce47",
                "44ae46aaf6fa22e6"
            ]
        ]
    },
    {
        "id": "5a8e75587cbab385",
        "type": "change",
        "z": "b0258fce5f9a574e",
        "name": "normalize payload for input into http request node",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.url",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "payload.method",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 500,
        "wires": [
            [
                "73192f21a4f3e432"
            ]
        ]
    },
    {
        "id": "44ae46aaf6fa22e6",
        "type": "debug",
        "z": "b0258fce5f9a574e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "10521f1105881d68",
        "type": "mqtt out",
        "z": "b0258fce5f9a574e",
        "name": "",
        "topic": "demo/security/control/clientstate/connected",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "68c8885ee023c995",
        "type": "template",
        "z": "b0258fce5f9a574e",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "$(CLIENTID)",
        "output": "str",
        "x": 660,
        "y": 260,
        "wires": [
            [
                "10521f1105881d68",
                "d2058c31c425057b"
            ]
        ]
    },
    {
        "id": "d2058c31c425057b",
        "type": "debug",
        "z": "b0258fce5f9a574e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 200,
        "wires": []
    },
    {
        "id": "ec7c4b80626a3a07",
        "type": "comment",
        "z": "5e429d5627a513d5",
        "name": "Listen for Connect, Close, LWT messages",
        "info": "",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "b0fd091d65d4d167",
        "type": "comment",
        "z": "5e429d5627a513d5",
        "name": "Build Client State Table",
        "info": "",
        "x": 200,
        "y": 200,
        "wires": []
    },
    {
        "id": "13c9a7a8c19b5ddc",
        "type": "comment",
        "z": "5e429d5627a513d5",
        "name": "Individual Download (Action when user clicks on single state table entry)",
        "info": "",
        "x": 400,
        "y": 500,
        "wires": []
    },
    {
        "id": "072f35cb9b1858c5",
        "type": "ui_list",
        "z": "5e429d5627a513d5",
        "group": "e4f1c4dc92905add",
        "name": "Player List",
        "order": 2,
        "width": 10,
        "height": 15,
        "lineType": "two",
        "actionType": "click",
        "allowHTML": false,
        "outputs": 1,
        "topic": "",
        "x": 250,
        "y": 360,
        "wires": [
            [
                "f6f7d9a3134d78a8",
                "c75572a82547b8d0"
            ]
        ]
    },
    {
        "id": "f6f7d9a3134d78a8",
        "type": "debug",
        "z": "5e429d5627a513d5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 440,
        "wires": []
    },
    {
        "id": "c75572a82547b8d0",
        "type": "link out",
        "z": "5e429d5627a513d5",
        "name": "",
        "links": [
            "5766462d6950dbf3"
        ],
        "x": 475,
        "y": 440,
        "wires": []
    },
    {
        "id": "73b2716980361316",
        "type": "mqtt in",
        "z": "5e429d5627a513d5",
        "name": "",
        "topic": "demo/security/control/clientstate",
        "qos": "2",
        "datatype": "json",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "072f35cb9b1858c5",
                "c49d1838a1ee5755"
            ]
        ]
    },
    {
        "id": "c49d1838a1ee5755",
        "type": "debug",
        "z": "5e429d5627a513d5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "6e163f248a4f2e95",
        "type": "mqtt in",
        "z": "5e429d5627a513d5",
        "name": "",
        "topic": "demo/security/service/clientreport",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 220,
        "y": 140,
        "wires": [
            [
                "5cb48f3a39520321"
            ]
        ]
    },
    {
        "id": "7320d148f35ccc29",
        "type": "mqtt out",
        "z": "5e429d5627a513d5",
        "name": "",
        "topic": "demo/security/clientstate/connected",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "5cb48f3a39520321",
        "type": "change",
        "z": "5e429d5627a513d5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "CLIENTID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 160,
        "wires": [
            [
                "7320d148f35ccc29",
                "7c634f355433203d"
            ]
        ]
    },
    {
        "id": "7c634f355433203d",
        "type": "debug",
        "z": "5e429d5627a513d5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 80,
        "wires": []
    },
    {
        "id": "0d208a1a1e93b35c",
        "type": "ui_form",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "label": "",
        "group": "e4f1c4dc92905add",
        "order": 1,
        "width": 10,
        "height": 3,
        "options": [
            {
                "label": "ClientID",
                "value": "clientid",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "command",
                "value": "command",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "clientid": "",
            "command": ""
        },
        "payload": "",
        "submit": "send",
        "cancel": "cancel",
        "topic": "topic",
        "x": 510,
        "y": 260,
        "wires": [
            [
                "cf2f4eab3f812249",
                "6bb41ea22dd072e0"
            ]
        ]
    },
    {
        "id": "cf2f4eab3f812249",
        "type": "debug",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "5c2e1a112a75c559",
        "type": "mqtt out",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "topic": "demo/security/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "6bb41ea22dd072e0",
        "type": "json",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 360,
        "wires": [
            [
                "5c2e1a112a75c559",
                "cf2f4eab3f812249"
            ]
        ]
    },
    {
        "id": "a6bc3dd66e0e51eb",
        "type": "mqtt in",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "topic": "demo/security/service/playercount",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "1874d9d6a107b3d7",
                "c98a61dfc3548f20"
            ]
        ]
    },
    {
        "id": "1874d9d6a107b3d7",
        "type": "ui_gauge",
        "z": "7fa9bb5bea5ae3a5",
        "name": "Players Remaining",
        "group": "e4f1c4dc92905add",
        "order": 4,
        "width": 10,
        "height": 6,
        "gtype": "gage",
        "title": "",
        "label": "Players Remaining",
        "format": "{{value}}",
        "min": 0,
        "max": "1000000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "5766462d6950dbf3",
        "type": "link in",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "links": [
            "c75572a82547b8d0"
        ],
        "x": 55,
        "y": 380,
        "wires": [
            [
                "f70dc3d51f7e5fd3"
            ]
        ]
    },
    {
        "id": "f70dc3d51f7e5fd3",
        "type": "change",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.clientid",
                "pt": "msg",
                "to": "payload.title",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "0d208a1a1e93b35c"
            ]
        ]
    },
    {
        "id": "bcf565314097e2fb",
        "type": "ui_button",
        "z": "7fa9bb5bea5ae3a5",
        "name": "sudo node-red-stop",
        "group": "e4f1c4dc92905add",
        "order": 3,
        "width": 10,
        "height": 1,
        "passthru": false,
        "label": "sudo node-red-stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "sudo node-red-stop",
        "payloadType": "str",
        "topic": "",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "1fdf9e65b0a88a3c"
            ]
        ]
    },
    {
        "id": "1fdf9e65b0a88a3c",
        "type": "change",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "sudo node-red-stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 80,
        "wires": [
            [
                "0d208a1a1e93b35c"
            ]
        ]
    },
    {
        "id": "89fdad83c9c1942b",
        "type": "mqtt in",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "topic": "demo/security/control/announce",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 210,
        "y": 520,
        "wires": [
            [
                "d4130796ac4efc8e",
                "1f0f9997a5bd58f4"
            ]
        ]
    },
    {
        "id": "d4130796ac4efc8e",
        "type": "ui_audio",
        "z": "7fa9bb5bea5ae3a5",
        "name": "playaudio",
        "group": "e4f1c4dc92905add",
        "voice": "com.apple.speech.synthesis.voice.karen",
        "always": true,
        "x": 920,
        "y": 520,
        "wires": []
    },
    {
        "id": "ce2895bc4a525d61",
        "type": "inject",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "props": [
            {
                "p": "payload.audio",
                "v": "Congratulations, You've Won The Game",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 360,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "51d962607025721e",
        "type": "ui_template",
        "z": "7fa9bb5bea5ae3a5",
        "group": "e4f1c4dc92905add",
        "name": "",
        "order": 5,
        "width": 10,
        "height": 5,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 880,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "dcfc65119dcd9505",
        "type": "mqtt in",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "topic": "demo/security/control/display",
        "qos": "2",
        "datatype": "auto",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 220,
        "y": 720,
        "wires": [
            [
                "51d962607025721e"
            ]
        ]
    },
    {
        "id": "f5e096c593bf4e76",
        "type": "inject",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "<img src=\"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBYWFRgWFRYZGRgYGhwcHBwcGh4eHh8cHB4eIxwcHBwcIS4lHh8rIR8cJjgnKy8xNTU1HCQ7QDs0Py40NTEBDAwMEA8QHhISHzQrISs0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NP/AABEIAKoBKQMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAAAAQIFBgcDBP/EAEsQAAECAgYHBAYFCQYHAQAAAAEAAhEhAzFBUWHwBBJxgZGhsQUGIsEHMlLR4fETQlOS0hQXNFRicoKiwjVDRJOy4hYjJDNjc4Ml/8QAGQEBAQEBAQEAAAAAAAAAAAAAAAIBAwQF/8QAKBEBAAIBBAICAgICAwAAAAAAAAECEQMSMVETITJBcYEiYSORBDNC/9oADAMBAAIRAxEAPwDUPcQa7fNPp7lB7pnaUxdKEPcvkPojX6FS1rMzzzUZZ3KRfVggcDZJRJrqlkoB9yDtxiNyBkWVg2HpigCU/jLYoknYBbjapA4ZkgYOc5mogmxeWlUmoxzyC7VbEjZMwxrXqIXxuQNrpzUlEjObEG6wxQAhGGcyUSeFSkDznzCImdVUxUijimRUo0b42EQsKNWrBEgvsIzMqUTFQrh12VeakK0EnZ2JA3xqrXnSEkVn527vJejSJCdVaBOMZWivl5JgRQx0J318JJtdYgi88Qgtlx3oIszsTjdcgQPLoiKjztmmWxE0A6o4/JSBlm5ID4pOJlCYQSj58QouPBDrAMzzyTPkgUas52o45uRDPNICqNXPNSAhfOtKKNbzOb03iIiLUAVE274ptNmEM4VIJnDBFJF9ioY7FeDgs/E3BXXhEtC8TO0jqhpvsSeYk3xKcIbalDTAw+STq5qISnPdgikz8/gmM5rSo0yESQjWmIVIcMUoTJslDZJA22GGfNAnVfX5pA15rrQwywqQMNrvklhzlbYpATMUhtggICEDZ7knFGrCGbpJlAOERnITJquUXQhk8k9VAEbsjO9BMajCE83JByGXoGDK1Gru2Y2FDnSzWlC7iOp4BAw427ticOqU5SxQTD4oJDooxmhj853IhfDI5IGRIxs+EERtt2pNQ11WKB6tkENdzQZ/NKFvNAS5IdXuz1ScZ58szTJrzggUE3mWHTFEOc0iUEXtqcJ9ErOGeC9DOV0OShG60580UUZkVyPRTG2tRZ58kDjYNliJHRZ6GJWhcLCqGLr88FdeGSv3iBJ2+abDyQ4zOayovBsnhh8lDUs/BAKTTvRnnJAwPdFBMUmulPbVHhCfzSaQRjC7lzQT1uWQEHPJRgbIW5zcijENnyzuRuA6edikBagitJm+BRhkIJj14fBEb4JuEPNAjXZmKQvRqxszJO2NsM9EBSQE4JVwzYh5lPehgOeXJA853o1UiyAim08PP5IAC6u61KM+SYI45sS1beaAGSpQ9yQhm+uKTSgcoH5Itgk0WDJSDueYoGXV3e6qCHTQ9vTYUEwE7BneijBiLkRjbnegVW5vUWiQlP58kSflkp7bUB054pAxqQDmmw70nXnzQ4QznalEjO1AEzxgPNMiPuUQJVTTcZIoCyFk+Sic7FNrZ9RBJxnVXmCJImxUE8/NaHbgqDXF3VVVkr2kBERG0xRGObLE3smdp6qJEt89ilqUdyjrzgRAfOXRSAhO/wB9aHm3aihARn5RRDyK86HXJdr6sNY6urH1ZQ1o/WjGqVS9AMzzcgG8ypOOIXkXwrr+ao+3e8LNGbrOJc4ya0Qi6FuAvKqtZt6hM2iPcr8vHPpWvh0vtmgo5PpmMNzntB4RiuX0/a2m6c4taXBkfVYdVoj7Trd52BfXovcV5HjpWtNzWl3Mlq7+GtflLl5Jn4w6BQ9vaO4wbT0bjcHtnsEVYteCI1iyHKC5lTdw3Q8FODg5kOYceir/AKLTtBOs1zgwWtOtRzvBq2wG1PFS3xk8lo+UOwNEKppMaAazOcyTA2wurqWW7rd7WaQQx0GUvs/VcBa0n/SZ7Vqi4Lhak1nEutbRaMwdR2j3JOqljuQ+dVfHohxzsUqNgvugmRGUEOEapXrL9++3PyfRy1hhSU0WthW1sPE6WBgDecFdazaYiE2ttjMtK1wMCIQM4gyIrBBjCCkBCMsVh/Rx239JRnRnnxUYi2frMu2tJ4EXLcrL0mlpiWVtujKLG2oqF0EwNnysTbUpWTnCU1U0nePRGkh1PRgtMCNYSIrBHJfdpAlm2Gdy45Qdm/lGmvotbV1qSl8UI+qXGqOC7aVIvmZ+nG9prjDpzu9uhj+/af4gvN/fDRbKVv3gs030dD9Yd/lj8am30bCH6SZ/+P8A3q9ul2ndqdLx/fGgP96z74THe6gNdNR/eCox6Nh+sn/LH402+jUH/Ekf/P8A3pjS7M6nTQN72aNbTs+8La16DvVov6xR/eCzn5sx+sn/AC/96+TSfR8Gf4gn+AfjTZpT9m7U6bfRu3aCldqMpmOdXBrgTAVyGZqwBuznyXJ+4LIabC5lIOBAXVmHlvvXPVpFZxC9O02jMpjPJI1ZtTcYipNufguTqGQAgLhCcztJ3TQMa7MCk4ckC+5EmDOFm2az8/bPBX/PmqGf7XH4K68MlfPfMwv4zPuQCk8V3xSDfcplYhOM5J6xrIhHN6BVmxJzIjbmKwegNSTj524/FDRz4rzeKzDGGKCt7a7QbQ0b6R1TBHEkya0Yky3rmvZOg0mn6Q59I4hgm5wsH1WNu90TWZ3HpK00xo6EGU3uGyTI8Xclpu63Z4oNHY2Hic0Pcf2nTPAQGwBeqs7KbvuXnn+dsfUPr0Ps5lGwMY0NaKgOsbTOtfX9DCyS9tW3Oa16Fs5leebTLttfE+gkQOC+KmohURIygatmIVtaeK+enZyWxZkw5r3m7BNART0EWs1gSBWx0ZFv7MeBwq2/dHt38poIuhrsIa8C02OA/aHMEL10jR2va5jhFrgWkXgyPVYTuhSu0fTjQn6xdRnEtMWu5c13/wCykxPMOPwt64l1dhyVJ4tqXzh8N5EFMvvzBeV3Q0qnDGve46rQCSTYBWTgAuUeLtPTrQwn7lE3oT1crz0i9twaNHaZuAc+Fjfqt3w4DFXXcPsX8n0fXcIUlLBzrw36reEziTcvTT/HTd9zw5W/nbb9RyxveDQXdnaYyloRBhOvR3QqfRnCcNjgup6BprKahbS0c2PbEYYHEGRxiq7vT2MNK0d7Ja7fEw3OEYAm4iR24LG+jntg0dI7RaSIDySyP1Xj1mkWRAqvGK23+SmfuCP4Wx9S6Wx0WxzNAM8256Ighls55gvK6vm0kGo3cly3u3/aZ/fp/wCtdS0kZzYuX92/7UP79P8A1r06Xxt+HLU+Ufl0+j+E/NejJWVTXmxeurZjedy88u0JDG7OdqmDnO9ebnThmd+bFJ5hZ89+ZLGAiYVb2mZb/mrImEcgY4qs7TgRJXXktw533D/Tj+7S9Quqs2WRXKu4X6cY+zS9QuqBttXRddf5fpz0fim45wQ7Dj0Q+o3JEShCs/Ned0RMsZobAx6IJlG6sbEDhV7/AHIoeXzVFrBXgOF3NUOtmPxVwiWgpG11ziOcc7Ug2M6sy4J0hmY3nrPmkG+fnJTKzebtkM709a3NyRhbkXpa0JWmawAqnmKTpSFSYd8Ui0WVDBByrv2I6YAai2jG4uMV0pkhguf+k3RS2mo6T2mFu9piN8Hclt+xtNbS0LHg+uwE7YTG4xC9Op706y4U9WmFm13T3clMY7AoUfURXoOYqzvXmd0TJfPStrgZnO9fS+qMKrITOxfOZiJ55xWwl8psXOe0xq9qiH29D/MGR6rpcJRqgFzXst/5T2nribfpHP8A4WCDDybxXo0f/U/05av1H9untdevi7W09tBRPpHGTBvJsaMSZb19Dic7Fznvv2oaWlbo1H4g1wBA+tSGQbujDaTco067rKvbFXn3U7OdpulOpaSbWu13XFxPhbslVc2Fq60y6UM2qn7s9kN0agayRd6zje4wjusGACt2Sq6LNW+63rg064r75TDYXW8yY2LmPpE7HdQ0zdKo/CHuBcRLVpRMO/ihHaDeumCMY4VdV8na2gMp6J9E71XiGINYcMQYFZp322beuYw+Xu32sNK0dlKJOEntucK5XGThg4K0dLZkrlHdTtB2gaY6hppMc7UfcHfVeMJjcY2LrIN9li3Vptt64nhmnbMe+Xz6TGEVy3u3/aZ/fp/6l1WkGsCuU93P7UP/ALKf+pXo/G34Tqc1/LqVGfljNerTbw2LxYCGkzMJy6XL2DJ4eUOU1wdQG5zwUxjCfS7G3iiHLIUHEEQmIxqMOGKwDnyzndgq/SfFVavspHnYvkcI7JKoJc57j/pzv3aX/UF1JtUMILlvcf8AT3Q9ml/1LqLJxXXX+X6c9Hh6g1YIcbDXO7mhgtOcxQ4ThauDoTumCUa78+5R1syTcKzeijhNZ+WPBaEDkVn5KoRLQUoETFQlfmtTpz4pX/NQuxlsrWSqDIrsEuXySEOefLgm62zpNIjNxsWNSBJkM8ERnKVezFAd0vQKgSgpO9XZH5To7mCAc3xMu1hGUbjEjesV3J7d+gedHpvC1zpF0tV8YEG4E8DtXTwyNd9qx/e3uiNIjS0AApfrNJgH+5+NRtXfTvGNluHG9Zzury1rHawFu3FSDoQbmGGyK5X2R3p0jRD9FTsc5rZarote0YE1i6O4rW6J340RwGs9zDc5rurQRzWX0bRx7bXVif6akivbkLypDHZnO4rP6R300NsxS6xuax55wgsv2x37e8atAzVj9Z0C6J9lokDjNZXRvP0W1Kx9rjvx3hFGx2j0Z/5jxBxB9VpE/wCJw4CJuXj3A7ILGGlcIOpAA0GsNFX3jPYGr4e7Xc99I4U2kghpOsGO9ZxvfGcI2GZtx6NRUAaJZh5Lpe1a12V/aK1m1t1lJ3m7TGjaO54Pid4WA+0YzIuFZ+Ky/o57G+ke7SqQRDSQyP1nn1nYwBrvJuVR3t7YGl6SAHBtEw6jXGYAj4qSUzGHABbjs/vJ2fQ0bKJlONVgAHgftJPhrJiTtVTWa6eIj3PLItFr5mfUNQDHCtAYJZ5mtZ//AIy0H9Yb9x/4VJ3fPQZf9QD/AAP3fVXn2W6n/Trvr2vom7OeqlLPl7lnR3z0H9YH3H/hQ3vloP6wPuP/AArPHbqW769wo/SR2LrsbpLG+JgDaTFv1XfwkwjccFa9xe2/yjR9Vx/5lCA10frN+q7GUjiMV7U3e3QHBzXUzXNcCCCx5BBBBBGrUVzns/tFmh6Zr0LteiDi2IBGtROhEEGBiOrV6a1tam2Y9xw5TaK3zE+p5dlAjHHPkuV922//AKzh/wCSn5a66nQUjXNa9hBa4BwImCCIgg21hcm7G0tlF2o99I4Ma2kp4uNQJ1wOajR4t+G6vNfy60wEDh8T1Q2ocFUf8V6FV+UM2xPuUT3q0KzSGV4+5ctlupdN9e12M5zYkqR3enQif0ho3mvz3pt71aH+sM4n3Jst1Jvr2tXtECZmu2ESF81NEL4z3p0L7ejstPu2KLu82hH/ABDMJ9ZYLYpbqWbq9sJ3GP8A1zv3aX/UF1SjFWfkuV9wSDpziJgtpSNkRNdWv8rVf/I+X6To8I6kCbI19FMvNtiTxnkh/wAVwdkRCIMLClXXfWpCsG5RcYC9Aw6MJZ81RbldtMhkYQVJA5KuvCJXrhMxFp6+ckC4xjb7kn1zN54o1py+KhZPd096mJz3qDROcM5Ck6eczQLWuQ11ZzjJMNxt5m1QomQ8O08THr1QSIIzwQXQnmZTJlCGzdkqIFUROJkcKpIPn7R7MoadurS0bX3RExXURMbis1pXo+0ZxJa6kYLBrAjZ4gTzWuF0Y79qkeCuupavEomlbcwxbPR1QCukpXYRa2O/VWg7N7vaPo/io6JoPtHxOs+sYkblY8Lea9Rck6l7cyRSscQiH1Ly7R0b6WjdR6zma41S5sNYA1wiJREo4r263puNvW/YpicKmGJ/Nxo/2tLD+D8OxS/Nvo/21N/L+FbMI+XRdPNftHir0xX5uKD7Wl/l/CpN9HGjn++pf5fwraNhC2Nm+tJrjVHZcnmv2eKvTFj0caP9tS3fV/Cl+big+2pf5fwrbqGcc2J5r9nir0xo9G+j/bUv8v4Uj6ONHspqX+X8K2hdmHVSFZinmv2eKvSv7D7PGj0TaJr3vawyLoRAM9WVgnsjgs5pno9o6R73mmeC97nEANhFxLiBfWtmwqTia5CSmupaJzE8tmtZ9TDBj0cUX21JCyTZ8kH0cUP29JX7LVuyYRivJwgABUDVhUFXmv2nxV6YkejiitpqTg33Jn0b0Mf+/ScGrcQE84qJknmv23xV6Ygejih+3pI/ut9yX5uKL7akq9ke5bkOlOUaopkXSTzX7PFXpl+wO6FHo1L9Kyke46rmwcGgeLELUsAXm9s5Z3qIhKc6sIqLXm05sqKxWPT0hCrienkmREZjjBQrkd5zmpBjw+ValQI3ZKNW2Kb88kmCKBOcY5zUqSJv6K8FptlJZ/6Q5PwVV4RK/pIRdtOYJESqsqzanSQidp4fJRbXPnVhnFStNs45zYh04YzUXmARCfFAOs4pgVZuRCJqqjnmkIQluQSJ5XWlKvOIQExWIwv5IE1srb+N+KmUvPomGjWQIkCQtSAtigm29OMjHGfvQRYI14R22+XJSdVmu7zUYwFU61Mc8xjggHAyht93mgOrCGGJjOXnVHdFAiJgRObUBrZ4pOdy6bdp5IInh0TrsyEBCy9Miec3pRiZ5mpRHx2oIvYZQ3yjfGHJAujt25CcYDZn3qBdOq/ObkE2xI61ZtSj1tTgYpHhm1AdEQnAVofHyScapX7LkCnrC66s8U3GoHPzTmZxnaowuw+KBgAjYlSOgI8ZJNjzt5KQG6B4oA8pILBHZMb7Uy67MlECJjVHPvQFkYJCwRx+am5+zgoxwQRlLyG1SY6y2diWpbbn4pMNcs1IJEZ4qihtV+wxGMevzVBLHkrrwiV48QJhecVEGcEOJia6zBBaoWbT7jLFPV2QjX5pPuQ/5zQOUZjfncgmfluSwzHYpO+ezBBEOnnNqCY8b8UH1sIZ8+CHTMc4IJsdLYi5Jp5eSCDegHPnCBsPVIGWOYJgSINcIZ4lREoXEIJthdP4odH3qMYQqUgLNh2TmgGC2OzpUm5s4BIiYEFOsIIsnPn8FLWUdYeakHTnZmJQeRnGEoisQzFTIn5RzkpVV9OiHmyv3WoGK0hWh5QyzPFAZ3JPNtnvTEttnBBb8EDjXC3NShqxkarvkk0+Lnnkpg279iBsKjUaoy2JBwGEo9METnmCBgkZzem49I8EoCB25rRUYQPw9yBlqQqPLdnmhleZoArvKAhZmdagJx22VKQObsyRVnG5A3KGrCWbLeCnq1GVW6u7co1V5yEDc+UQLJLP6mPJXz3QObrVSa5vHH4qqpldvjEwF6bW14qmpKd0fWdXeUzTOj6xttN4TBlcNbG3NyCJWb1S0dM7Vb4j6rbTcVJtM6PrHicE2mVvA27sFKFedsFSupne0bbSpfTOl4jVeU2mVw4xlnFNzfnneqQUzpeI1XlN9O6PrOqvKYMrkQiYY9UOPWvOZKnbTOgfEa7zemKZ0D4jxOKbTK36KLRZGI4qqFO72ncSh1M72jbaU2mVsRjLJU2noqakpnRHiPE4qLNIfD1ncSm0yumtu3c682KRthBU1FTu1R4nV3lR+md7RqvKYMrq0x8ue5SNUlRMpne0bLSpfTO9o8Ssw1dOfJAPzsVG6md7RttNyk2md7RrvK3DMrkEcc9EAWKmdTOgfEbLT7SbKZ0B4jZabwm0yuSJ9EtYRzn5qo+md7RrNpvKRpnT8RqbacU2mVvCctkUCUwbrY7FTCmdAeI+sbTeU207vadxOKYJlbOZ8fgpxVKKZ2t6xstOKTad0PWd6wtN5SKmV0HW4zGbFGUeEZZvVT9M72jbaUMpne0azaU2mVuWmMpRyOiI54qnFO6PrOrvOCX0zvaNlpvKbTK2a3Zu2qYKp30zoeseJvUDTO1j4jxKbTK5D4yCDUSYSjFVIpXRPiNtuxeLKZ0/EeJTaZXrSTwjkKhj+zzHuU/pnQ9Y13nFVX0hvPFVEMmX/9k=\">",
        "payloadType": "str",
        "x": 430,
        "y": 760,
        "wires": [
            [
                "51d962607025721e"
            ]
        ]
    },
    {
        "id": "bd4626fec92d99ea",
        "type": "mqtt-in-dynamicsub",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "qos": "2",
        "datatype": "json",
        "unsubscribe-after-first-msg-recv": false,
        "debug-subscribe": false,
        "broker": "3c9fafa.7dd6a5",
        "x": 470,
        "y": 600,
        "wires": [
            [
                "ebdf0f8f0fcb9ae0"
            ]
        ]
    },
    {
        "id": "326bdf9094987993",
        "type": "template",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "demo/security/control/announce/{{clientid}}",
        "output": "str",
        "x": 300,
        "y": 580,
        "wires": [
            [
                "bd4626fec92d99ea",
                "e0241e7151aef376"
            ]
        ]
    },
    {
        "id": "24fead5a236ea3dc",
        "type": "inject",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 600,
        "wires": [
            [
                "4e7b2710b910d00b"
            ]
        ]
    },
    {
        "id": "e908144ca08d1bd5",
        "type": "template",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "demo/security/control/display/{{clientid}}",
        "output": "str",
        "x": 320,
        "y": 620,
        "wires": [
            [
                "46c317f5b5586dfe"
            ]
        ]
    },
    {
        "id": "46c317f5b5586dfe",
        "type": "mqtt-in-dynamicsub",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "qos": "2",
        "datatype": "json",
        "unsubscribe-after-first-msg-recv": false,
        "debug-subscribe": false,
        "broker": "3c9fafa.7dd6a5",
        "x": 470,
        "y": 660,
        "wires": [
            [
                "6d11e58e1c743348",
                "2c9c88bbc98979fb"
            ]
        ]
    },
    {
        "id": "e0241e7151aef376",
        "type": "debug",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 500,
        "wires": []
    },
    {
        "id": "4e7b2710b910d00b",
        "type": "change",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "clientid",
                "pt": "msg",
                "to": "CLIENTID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 660,
        "wires": [
            [
                "e908144ca08d1bd5",
                "326bdf9094987993"
            ]
        ]
    },
    {
        "id": "c98a61dfc3548f20",
        "type": "debug",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "1f0f9997a5bd58f4",
        "type": "debug",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 460,
        "wires": []
    },
    {
        "id": "ebdf0f8f0fcb9ae0",
        "type": "change",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.command",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 560,
        "wires": [
            [
                "d4130796ac4efc8e"
            ]
        ]
    },
    {
        "id": "6d11e58e1c743348",
        "type": "change",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.command",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 640,
        "wires": [
            [
                "51d962607025721e",
                "2c9c88bbc98979fb"
            ]
        ]
    },
    {
        "id": "2c9c88bbc98979fb",
        "type": "debug",
        "z": "7fa9bb5bea5ae3a5",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 780,
        "wires": []
    }
]
